Django<2.3
psycopg2-binary


# Debugging for Django
django-extensions  # gives shell_plus as option to run django's shell

# Django Rest Framework
djangorestframework_simplejwt

# Requirment for separate fronend client, like Angular, React, Vue
django-cors-headers

# Enable filtration of queryset
django_filter

# Channels support
channels
channels_redis
twisted[http2,tls]  # Can't install on Windows

################ Bellow are the libraries, that are not MUST HAVE ###################
################## they just add some additinal functionality #######################
#####################################################################################

# Send emails via MAILGUN mail relay server.
django-anymail[mailgun]

# Guardian for anonumous user access
django-guardian
